<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/contact.css">
    <link rel="stylesheet" href="/index.html" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
    </style>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="container-logo">
          <a href="/index.html"
            ><h2><span>Nelia Ribas</span> Diseñadora Grafica</h2></a
          >
        </div>

        <ul class="links">
          <a class="link" href="/views/curriculum.html">Currículum</a>
          <a class="link" href="/views/projects.html">Proyectos</a>
          <a class="link" href="/views/contact.html">Contacto</a>
        </ul>
      </div>
    </nav>
    <main>
      <div>
        <H2>Contacto</H2>
        <p>Espero oir pronto de ti</p>
        <h3>Telefono</h3>
        <p>(959) 274-1299</p>
        <h3>Email</h3>
        <p>herminia.wade@example.com</p>
      </div>
      <div>
        <form action="index.html" autocomplete="off">
          <div class="input-container">
            <input type="text" name="name" class="input" />
            <span>Nombre</span>
          </div>
          <div class="input-container">
            <input type="email" name="email" class="input" />
            <span>Email</span>
          </div>
          <div class="input-container">
            <input type="tel" name="phone" class="input" />
            <span>Telefono</span>
          </div>
          <div class="input-container textarea">
            <textarea name="message" class="input"></textarea>
            <span>Mensaje</span>
          </div>
          <input type="submit" value="Enviar" class="btn" />
        </form>
      </div>
    </main>
    <footer id="boxfooter">
      <div>
        <ul>
          <p class="titulofooter">Telefono</p>
          <p class="infofooter">(959) 274-1299</p>
        </ul>
      </div>
      <div>
        <ul>
          <p class="titulofooter">Email</p>
          <p class="infofooter">herminia.wade@example.com</p>
        </ul>
      </div>
      <div>
        <ul>
          <p class="titulofooter">Sigueme</p>
          <img class="img" src="/images/linkedin.jpg" alt="Linkedin image" />
          <img class="img" src="/images/twitter.jpg" alt="Twitter image" />
        </ul>
      </div>
    </footer>
    <script src="/app/contact.js"></script>
  </body>
</html>
