<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/curriculum.css">
    <link rel="stylesheet" href="/index.html" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
    </style>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="container-logo">
          <a href="/index.html"
            ><h2><span>Nelia Ribas</span> Diseñadora Grafica</h2></a
          >
        </div>

        <ul class="links">
          <a class="link" href="/views/curriculum.html">Currículum</a>
          <a class="link" href="/views/projects.html">Proyectos</a>
          <a class="link" href="/views/contact.html">Contacto</a>
        </ul>
      </div>
    </nav>
    <main>
      <div>
        <h1>Curriculum</h1>
        <h2>Datos personales</h2>
        <h3>Nombre y apellido: Nelia Ribas</h3>
        <h3>Email: herminia.wade@example.com</h3>
        <h3>Fecha de nacimiento: 02/04/1988</h3>
        <h3>Dirección: 5095 Oak Lawn Ave</h3>
        <h3>Telefono: (959) 274-1299</h3>
      </div>
      <hr>
      <div>
        <h2>Educación</h2>
        <h3></h3>
        <h3>Colonial High School</h3>
        <h3>University of Central Florida</h3>
      </div>
      <hr>
      <div>
        <h2>Habilidades y experiencia</h2>
        <ul>
          <li>Branding</li>
          <li>Illustration</li>
          <li>Layout Design</li>
          <li>Logo Design</li>
          <li>Art Direction</li>
        </ul>
      </div>
      <hr>
    </main>
    <footer id="boxfooter">
      <div>
        <ul>
          <p class="titulofooter">Telefono</p>
          <p class="infofooter">(959) 274-1299</p>
        </ul>
      </div>
      <div>
        <ul>
          <p class="titulofooter">Email</p>
          <p class="infofooter">herminia.wade@example.com</p>
        </ul>
      </div>
      <div>
        <ul>
          <p class="titulofooter">Sigueme</p>
          <img class="img" src="/images/linkedin.jpg" alt="Linkedin image" />
          <img class="img" src="/images/twitter.jpg" alt="Twitter image" />
        </ul>
      </div>
    </footer>
  </body>
</html>
