<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="../footer.css" />
    <link rel="stylesheet" href="../navbar.css" />
    <link rel="stylesheet" href="../projects.css" />
    <link rel="stylesheet" href="../index.html" />
    <link rel="stylesheet" href="curriculum.html">
    <link rel="stylesheet" href="projects.html">
    <link rel="stylesheet" href="contact.html">
    <link rel="stylesheet" href="../index.html">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
    </style>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="container-logo">
          <a href="../index.html"
            ><h2><span>Nelia Ribas</span> Diseñadora Grafica</h2></a
          >
        </div>

        <ul class="links">
          <a class="link" href="curriculum.html">Currículum</a>
          <a class="link" href="projects.html">Proyectos</a>
          <a class="link" href="contact.html">Contacto</a>
        </ul>
      </div>
    </nav>
    <main>
      <h1>Proyectos</h1>
      <div>
        <h2>Diseño de Portada de Libro</h2>
        <img src="../images/proyecto 1.webp" alt="" />
      </div>
      <div>
        <h2>Diseño de imagenes en revista</h2>
        <img src="../images/proyecto 2.webp" alt="" />
      </div>
      <div>
        <h2>Diseño de imagenes en pagina web</h2>
        <img src="../images/proyecto 3.webp" alt="" />
      </div>
    </main>
    <hr />
    <footer id="boxfooter">
      <div>
        <ul>
          <p class="titulofooter">Telefono</p>
          <p class="infofooter">(959) 274-1299</p>
        </ul>
      </div>
      <div>
        <ul>
          <p class="titulofooter">Email</p>
          <p class="infofooter">herminia.wade@example.com</p>
        </ul>
      </div>
      <div>
        <ul>
          <p class="titulofooter">Sigueme</p>
          <img class="img" src="../images/linkedin.jpg" alt="Linkedin image" />
          <img class="img" src="../images/twitter.jpg" alt="Twitter image" />
        </ul>
      </div>
    </footer>
  </body>

</html>
